* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  list-style: none;
}

body {
  background-image: linear-gradient(to right, magenta, cyan);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  width: 90%;
  height: 710px;
  margin: 25px auto;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

aside {
  width: 20%;
  height: 100%;
  background: #000d33;
  float: left;
}
aside h1 img {
  width: 50px;
  float: left;
}
aside h1 span {
  font-size: 30px;
  line-height: 50px;
  margin-left: 6px;
  color: white;
}
aside ul {
  padding: 5px 0 5px 30px;
}
aside ul li {
  font-weight: bold;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  max-height: 35px;
  line-height: 35px;
  transition: all 1s;
  text-transform: capitalize;
}
aside ul:first-child li {
  max-height: 50px;
}
/* aside ul li:hover {
  background: #d1d1d173;
} */
aside ul:not(:first-child) li:hover {
  background: #d1d1d173;
}
aside ul li a {
  text-decoration: none;
  color: whitesmoke;
}
aside ul li a i {
  width: 30px;
  padding: 5px;
  margin-right: 10px;
}
aside ul li a i.fa-angle-right {
  position: absolute;
  right: 0;
  top: 5px;
  transition: all 0.5s;
}
aside ul li > ul {
  padding: 1px;
  margin: 0 0 0 20px;
}
aside ul li > ul li {
  height: 25px;
  line-height: 20px;
  font-size: 15px;
  padding: 1px 1px 1px 20px;
  font-weight: normal;
  border-left: 1px solid #fff0f0;
  margin: 5px;
  color: #fff0f0;
  cursor: pointer;
}
/* target */
/* aside ul li > ul li a,
aside ul li:target > ul li a {
  background: transparent;
}
aside ul li:target {
  max-height: 500px;
  border-radius: 5px 0 0 5px;
}
aside ul li:target a {
  color: #444;
  display: inherit;
  background: white;
}
aside ul li:target a + ul li a {
  color: white;
}
aside ul li:target a i.fa-angle-right {
  transform: rotate(90deg);
  top: 10px;
}
aside ul li:target:hover {
  background: initial;
} */

/* active class */
aside ul li > ul li a,
aside ul li.active > ul li a {
  background: transparent;
}
aside ul li.active {
  max-height: 500px;
  border-radius: 5px 0 0 5px;
}
aside ul li.active a {
  color: #444;
  display: inherit;
  background: white;
}
aside ul li.active a + ul li a {
  color: white;
}
aside ul li.active a i.fa-angle-right {
  transform: rotate(90deg);
  top: 10px;
}
aside ul li.active:hover {
  background: initial;
}
